@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap'); */

:root {
  --background: #ffffff;
}


@font-face {
  font-family: 'font-google-inter';
  src: url('/fonts/Inter_18pt-Regular.ttf') format('truetype');
  /* font-weight: normal; */
  /* font-style: normal; */
}

body {
  font-family: "font-google-inter";
  -webkit-font-smoothing: antialiased;
}